.ex-1-square:hover{
    background: red;
}

.ex-1-square{
    transition: 4s;
}
/*exercise 1*/

.ex-2-square:active{
    width: 540px;
}

.ex-2-square{
    transition: 4s;
}
/*exercise 2*/

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-3-square{
    transition: 4s;
}
/*exercise 3*/

.ex-4-square:hover{
    opacity: 0;
}

.ex-4-square{
    transition: 4s;
}
/*exercise 4*/

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}

.ex-5-square{
    transition: 4s;
}
/*exercise 5*/

.ex-6-img:hover{
    filter: grayscale(100%);
}
/*exercise 6*/

.ex-7-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: 4s;
}
/*exercise 7*/

